*{
	margin: 0;
	padding: 0;
}

.bg1{
  position: relative;
	width: 100%;
	height: auto;
  padding-top: 62%;
	background-image: url("https://github.com/riversword/images/raw/master/BruceLee/Bruce_Lee0.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.header1{
	position: absolute;
	top: 30%;
}

.header1 h1{ font-size: 50px; }

.container{ width:100%; }

.summarizesmall p{
	padding: 5% 5%;
	line-height: 30px;
	text-indent: 50px;
	text-align: justify;
  box-shadow: 0 0 10px rgb(0,0,0);
}

.summarizebig p{
  padding: 5% 8%;
  line-height: 50px;
	font-size: 25px;
	text-indent: 50px;
	text-align: justify;
	box-shadow: 0 10px 20px rgb(50,50,50);
}

.smoreInfo hr{
  width: 80%;
  margin-left: 10%;
  border-top: 1px rgb(200,200,200) solid;
}

.smoreInfo ul li{
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 0 8%;
  text-align: justify;
}

.bmoreInfo{
  margin-top: 8%;
  margin-bottom: 5%;
}

.bmoreInfo hr{
  width: 80%;
  margin-left: 10%;
  border-top: 2px rgb(200,200,200) solid;
}

.bmoreInfo ul li{
  margin-top: 2%;
  margin-bottom: 1%;
  padding: 0 10%;
	font-size: 20px;
	text-align: justify;
}

.bg2s{
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-image: url("https://github.com/riversword/images/raw/master/BruceLee/Bruce_Lee01.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: 0 100%;
  box-shadow: 0 0 10px rgb(0,0,0); 
}

.bg2s blockquote{
  position: absolute;
  top: 30%;
  left: 0;
  color: rgb(255,255,255);
}

.bg2b{
  position:relative;
  width: 100%;
  padding-top: 110%;
  background-image: url("https://github.com/riversword/images/raw/master/BruceLee/Bruce_Lee01.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: 0 40%;
  box-shadow: 0 0 10px rgb(0,0,0);
}

.bg2b blockquote{
  position: absolute;
  top: 40%;
  left: 0;
  font-size: 40px;
  color: rgb(255,255,255);
  text-shadow: 0 0 1px rgb(0,0,0);
}

.photo0{
  width: 100%;
  padding-top: 20%;
  background-image: url("https://github.com/riversword/images/raw/master/BruceLee/bruce0.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: 0 10%;
}

.photo1{
  width: 80%;
  margin: 0 auto;
  padding-top: 32%;
  background-image: url("https://github.com/riversword/images/raw/master/BruceLee/bruce1.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  
}
.photo2{
  width:100%;
  padding-top: 20%;
  background-image: url("https://github.com/riversword/images/raw/master/BruceLee/bruce2.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  background-position: 0 10%;
}

.film{
  margin-bottom: 10%;
  padding: 1%;
}

.film .col-xs-6{
  margin: 0 auto;
}

.film hr{
  width: 80%;
  margin-left: 10%;
  border-top: 1px rgb(200,200,200) solid;
}

.film img{
  width: 100%;
  margin-bottom: 5%;
  padding: 0;
  box-shadow: 0 0 20px rgb(0,0,0);
}

.footer{
  width: 100%;
  margin-top: 5%;
  margin-bottom: 2%;
  text-align: center;
  font-family: Georgia,Times ;
}

.footer a{
  text-decoration: none;
}
